{
  "log": {
    "_recordingName": "import-coral/Football. Champions League Final 2019.",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.4.0"
    },
    "entries": [
      {
        "_id": "ed40caa2117f941c4bc46873b4faf925",
        "request": {
          "headers": [
            {
              "name": "x-feed-supplier",
              "value": "coral"
            },
            {
              "name": "authorization",
              "value": "Basic dWtzaGFyZXRyYWRpbmc6dHNLRkVXdnY="
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "template",
              "value": "getCategories"
            }
          ],
          "url": "http://xmlfeeds.coral.co.uk/oxi/pub?template=getCategories"
        },
        "response": {
          "content": {
            "mimeType": "text/xml; charset=utf-8",
            "size": 2830,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n<!-- OXi dbPublish-->\n<!-- Copyright (c) 2001, 2002, 2003 Orbis Technology Ltd. All rights reserved.-->\n<oxip version=\"7.1\" created=\"2019-05-17 16:58:55\" lastMsgId=\"\" requestTime=\"0.0480\">\n<response request=\"getCategories\" code=\"001\" message=\"success\" debug=\"\" provider=\"GENERIC\">\n<disclaimer>\n</disclaimer>\n<category\nid=\"16\"\ndisplayOrder=\"-10015\"\nname=\"Football\"\ncategory=\"FOOTBALL\"\n/>\n<category\nid=\"34\"\ndisplayOrder=\"-10014\"\nname=\"Tennis\"\ncategory=\"TENNIS\"\n/>\n<category\nid=\"6\"\ndisplayOrder=\"-10013\"\nname=\"Basketball\"\ncategory=\"BASKETBALL\"\n/>\n<category\nid=\"36\"\ndisplayOrder=\"-10002\"\nname=\"Volleyball\"\ncategory=\"VOLLEYBALL\"\n/>\n<category\nid=\"10\"\ndisplayOrder=\"-10001\"\nname=\"Cricket\"\ncategory=\"CRICKET\"\n/>\n<category\nid=\"2[...]
