{
  "log": {
    "_recordingName": "import-sky/Football. Champions League Final 2019.",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.4.0"
    },
    "entries": [
      {
        "_id": "341edbd102a2036e2b83700d5593d4cb",
        "request": {
          "headers": [
            {
              "name": "x-feed-supplier",
              "value": "sky"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "api_user",
              "value": "test"
            }
          ],
          "url": "https://services.skybet.com/sportsapi/v2/a-z?api_user=test"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3014,
            "text": "{\"event_classes\":[{\"name\":\"American Football\",\"url\":\"\\/sportsapi\\/v2\\/american-football\",\"id\":27},{\"name\":\"Athletics\",\"url\":\"\\/sportsapi\\/v2\\/athletics\",\"id\":48},{\"name\":\"Aussie Rules\",\"url\":\"\\/sportsapi\\/v2\\/aussie-rules\",\"id\":10000062},{\"name\":\"Baseball\",\"url\":\"\\/sportsapi\\/v2\\/baseball\",\"id\":5000026},{\"name\":\"Basketball\",\"url\":\"\\/sportsapi\\/v2\\/basketball\",\"id\":28},{\"name\":\"Beach Volleyball\",\"url\":\"\\/sportsapi\\/v2\\/beach-volleyball\",\"id\":10000101},{\"name\":\"Boxing\",\"url\":\"\\/sportsapi\\/v2\\/boxing\",\"id\":29},{\"[...]
